@import './index.css';



.footer{
    height: 10dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-secondary);
    color: var(--text-primary);

    & .txtfooter{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: var(--font-size-text);
        color: var(--text-primary);
    }

    & .redes{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        & i{
            font-size: var(--font-size-subtitle);
            color: var(--accent-primary);
            transition: 0.3s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}