@import url('./index.css');

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 11dvh;

    gap: 50px;
    & .container{
        width: 60%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 10px 50px;
        & .skill-iten{
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border-radius: 999px;
            height: 3rem;
            max-width: 250px;
            box-shadow: var(--shadow-sm);
            gap: 15px;
            cursor: default;
            transition: 0.5s;

            &:hover{
                box-shadow: 0 0 5px var(--accent-primary);
            }

            & p{
                margin: 0;
                font-size: 0.75rem;
                color: var(--accent-primary);
                transition: 0.5s;
            }

            & svg{
                fill: var(--accent-primary);
                transition: 0.5s;  
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .skills{
        .container {
            grid-template-columns: repeat(3, 1fr);
        }   
    }
}

@media screen and (max-width: 850px) {
    .skills{
        .container {
            grid-template-columns: repeat(2, 1fr);
            padding: 10px 20px;
            width: 100%;
        }
    }
}